html {
	margin: 0px;
	background-color: #f0fcff;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
}


h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}         

#title {  
	font-family: Roboto, sans-serif;
	font-weight: bold;
	position: relative;
	text-align: center;
}         

div#description {  
	position: absolute;
	z-index: 0;
	top: 20%;
	left: 50%;
	width: 60%;
	transform: translate(-50%, -50%);
}

#home {
	width: 64px;
	height: 64px;
	position: absolute;
	top: 40px;
	left: 30px;
	z-index: 100;
	transform: translate(-50%, -50%);
	filter: brightness(1);
}

#home:hover {
	width: 80px;
	height: 80px;
	filter: brightness(0.5);
	transform: translate(-50%, -50%);
}

#sidemenudiv {
	position: absolute;
	width: 10%;
	height: 100%;
	overflow: auto;
	padding: 3px;
	margin: 0px;
	background-color: #a8eaf7;
	right: 5px;
	bottom: 5px;
}
