html {
	margin: 0px;
	background-color: #f0fcff;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
}


h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}         

#title {  
	font-family: Roboto, sans-serif;
	font-weight: bold;
	position: relative;
	text-align: center;
}         

div#description {  
	position: absolute;
	z-index: 0;
	top: 20%;
	left: 50%;
	width: 60%;
	transform: translate(-50%, -50%);
}

#home {
	position: absolute;
	padding: 5px;
	top: 0px;
	left: 0px;
	z-index: 100;
	transform: translate(-50%, -50%);
}

#homea:hover {
	width: 70;
	filter: brightness(50%);
	transform: translate(-50%, -50%);
}

.paragraph {
	
}
