html {
	margin: 0px;
	box-sizing: border-box;
	background-color: linear-gradient(
		to right, #f0fcff, #f2f7ff
	);
	font-family: Roboto, sans-serif;
}


h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#title {
	font-family: Roboto, sans-serif;
	font-weight: bold;
	position: relative;
    text-align: center;
}

#about {
	margin: 10px;
	font-family: Roboto, sans-serif;
	position: absolute;
	top: 100px;
	left: 10px;
	z-index: 0;
}

.paragraph {
	
}